body {
  background-color: #ffffff;
  color: #212121;
}
ul {
  list-style: none;
}
.list {
  list-style: none;
}

.logo {
  font-family: Raleway, sans-serif;
  color: #000000;
  font-size: 26px;
  line-height: 1.19;
}

.logo:hover {
  color: brown;
}

/* site nav */

.link.current {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #2196f3;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: ;
}

.site-nav .link.current {
  color: ;
}

/* hero */

.hero-title {
  color: ;
}

/* section */

.section-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  color: #212121;
}

/* advantages */

/* button */
.but {
  color: #ffffff;
  background-color: #2196F3;
  border-radius: 4px;
}
.button :hover {
  color: aqua;
}


.button-primary :hover {
 background: #2196F3;
}

.button-secondary {
  color: #212121;
  background-color: ;
}
a {
  text-decoration: none;
}
.item {
  display: none;
}
h2 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: #212121;
}
.text {
  color: #757575;
}
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
}
.internet {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}
.internet:hover {
  color: greenyellow;
}
.link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
}
.block {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  background: rgba(33, 150, 243, 0.9);
}
.kolo {
  color: #757575;0;
}
.kolo:hover {
  color: #2196f3;
}
.phone:hover {
  color: #2196f3;
}
.phone {
  color: #757575;;
}
.come {
  color: #ffffff;
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.14;
} 
.down {
  background:  #2F303A;
}
.street {
  color: #ffffff;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
}
.dev{
  color: #2196F3;
}