.page {
    background-color: #E5E5E5;
    color: #212121;
}

.list {
    list-style: none;
}

/* цвет основного текста  #212121 */
/* вторичный цвет текста #757575 */
/* белый цвет #FFFFFF */
/* акцент #2196F3 */
/* основной цвет фона #E5E5E5 */
/* вторичный цвет фона #F5F4FA */

.logo {
    color: #212121;
}