root {
  --primary-text-color: #212121;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

body {  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Montserrat, sans-serif;

.list {
  list-style: none;
}

/* цвет основного текста  #212121 */
/* вторичный цвет текста #757575 */
/* белый цвет #FFFFFF */
/* акцент #2196F3 */
/* основной цвет фона #E5E5E5 */
/* вторичный цвет фона #F5F4FA */

.logo {
  font-family: Raleway, sans-serif;
  color: var(--title-text-color);
}

.logo:hover {
  color: var(--accent-color);
}

/* site nav */
.site-nav .link {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}